.queueAndLoopDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: clamp(1em, 5vw, 5em);
  height: auto;
}

.pageContent {
  padding: clamp(3em, 5vw, 5em);
}

@media (max-width: 768px) {
  .queueAndLoopDiv {
    gap: 2em;

    flex-wrap: wrap;
  }
}
